/* Para Columna */
main {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    place-items: center;
    max-width: 800px;
    margin: 0 auto;
    font-family: system-ui;
}


/* 
Para Fila

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

section img {
    max-width: 320px;
    height: auto;
} */